In [ ]:
a=[1,2,3,4,5,6]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a=[1,2,3,4,5,6]
print("Before append",a)
a.append(8)
print("After append",a)

Before append [1, 2, 3, 4, 5, 6]
After append [1, 2, 3, 4, 5, 6, 8]

In [ ]:
#clear function removes all elements of the list
a=[1,2,3,4,5,6]
print("Before clear",a)
a.clear()
print("After clear",a)
print(len(a))

Before clear [1, 2, 3, 4, 5, 6]
After clear []
0

In [ ]:
a_list=[1,2,3,4,5,6]
b_list=a_list
c_list=a_list.copy()
print("Before Operation Actual List",a_list)
print("Before Operation Equal to List",b_list)
print("Before Operation copy listt",c_list)
print("===================================================")
#make operation on list
a_list.append(8)
print("After Operation Actual List",a_list)
print("After Operation Equal to List",b_list)
print("After Operation copy listt",c_list)  #doesnot change after copy function even if a_list changes c_list doesnot
print("===================================================")

Before Operation Actual List [1, 2, 3, 4, 5, 6]
Before Operation Equal to List [1, 2, 3, 4, 5, 6]
Before Operation copy listt [1, 2, 3, 4, 5, 6]
===================================================
After Operation Actual List [1, 2, 3, 4, 5, 6, 8]
After Operation Equal to List [1, 2, 3, 4, 5, 6, 8]
After Operation copy listt [1, 2, 3, 4, 5, 6]
===================================================

In [ ]:

#returns frequency of the value passed in the function
a_list=[1,2,3,4,5,6,4,4,8,8]
print(a_list.count(8))
print(a_list.count(4))

2
3

In [ ]:
#Extend function
a_list=[1,2,3,4,5,6]
a_list.append([7,8,9,10])
print(a_list)
print(a_list[6])
print(a_list[6][2])

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10]]
[7, 8, 9, 10]
9

In [ ]:
#2D list extending
a_list=[1,2,3,4,5,6]
a_list.append([7,8,9,10])
print(a_list)
print(a_list[6][::-1])

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10]]
[7, 8, 9, 10]
[10, 9, 8, 7]

In [ ]:
#returns the index of the given value (if it's repeated, it will return whatever is comes first)
a_list=[11,22,33,44,55,66,33,77]
a_list.index(33)

2

In [ ]:
# Insert function takes in two values index and object/value/number

a_list=[11,22,33,44,55,66,33,77]
a_list.insert(5,111)
print(a_list)

[11, 22, 33, 44, 55, 111, 66, 33, 77]

In [ ]:
a_list=[11,22,33,44,55,66,33,77]
print(a_list.pop())
print(a_list)

77
[11, 22, 33, 44, 55, 66, 33]

In [ ]:
a_list=[11,22,33,44,55,66,33,77]
a_list.remove(55)
print(a_list)

[11, 22, 33, 44, 66, 33, 77]

In [ ]:
a_list=[11,22,33,44,55,66,33,77]
a_list.reverse()
print(a_list)

[77, 33, 66, 55, 44, 33, 22, 11]

In [ ]:
a_list=[67,12,34,56,11,33]
a_list.sort()             #ascending by default
print(a_list)

[11, 12, 33, 34, 56, 67]

In [ ]:
a_list=[67,12,34,56,11,33]
a_list.sort(reverse=True)     #descending order
print(a_list)

[67, 56, 34, 33, 12, 11]

In [ ]:
b_tup=(1,2,3,4,5,4)
dir (b_tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
b_tup=(1,2,3,4,5,4)
b_tup.index(4)

3

In [ ]:
b_tup=(1,2,3,4,5,4)
b_tup.count(4)

2

[1, 2, 3, 4, 5, 11, 6, 8]

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

0 x 13 = 0
1 x 13 = 13
2 x 13 = 26
3 x 13 = 39
4 x 13 = 52
5 x 13 = 65
6 x 13 = 78
7 x 13 = 91
8 x 13 = 104
9 x 13 = 117
10 x 13 = 130
11 x 13 = 143
12 x 13 = 156
13 x 13 = 169
14 x 13 = 182
15 x 13 = 195
16 x 13 = 208
17 x 13 = 221
18 x 13 = 234
19 x 13 = 247
20 x 13 = 260
21 x 13 = 273
22 x 13 = 286
23 x 13 = 299
24 x 13 = 312
25 x 13 = 325
26 x 13 = 338
27 x 13 = 351
28 x 13 = 364
29 x 13 = 377
30 x 13 = 390
31 x 13 = 403
32 x 13 = 416
33 x 13 = 429
34 x 13 = 442
35 x 13 = 455
36 x 13 = 468
37 x 13 = 481
38 x 13 = 494
39 x 13 = 507
40 x 13 = 520
41 x 13 = 533
42 x 13 = 546
43 x 13 = 559
44 x 13 = 572
45 x 13 = 585
46 x 13 = 598
47 x 13 = 611
48 x 13 = 624
49 x 13 = 637
50 x 13 = 650
51 x 13 = 663
52 x 13 = 676
53 x 13 = 689
54 x 13 = 702
55 x 13 = 715
56 x 13 = 728
57 x 13 = 741
58 x 13 = 754
59 x 13 = 767
60 x 13 = 780
61 x 13 = 793
62 x 13 = 806
63 x 13 = 819
64 x 13 = 832
65 x 13 = 845
66 x 13 = 858
67 x 13 = 871
68 x 13 = 884
69 x 13 = 897
70 x 13 = 910
71 x 13 = 923
72 x 13 = 936
73 x 13 = 949
74 x 13 = 962
75 x 13 = 975
76 x 13 = 988
77 x 13 = 1001
78 x 13 = 1014
79 x 13 = 1027
80 x 13 = 1040
81 x 13 = 1053
82 x 13 = 1066
83 x 13 = 1079
84 x 13 = 1092
85 x 13 = 1105
86 x 13 = 1118
87 x 13 = 1131
88 x 13 = 1144
89 x 13 = 1157
90 x 13 = 1170
91 x 13 = 1183
92 x 13 = 1196
93 x 13 = 1209
94 x 13 = 1222
95 x 13 = 1235
96 x 13 = 1248
97 x 13 = 1261
98 x 13 = 1274
99 x 13 = 1287