In [26]:
#1) try reading the file as dataframe

#2) Print mean median std for each column

#3) Print sum of each column

#4) max  and min value of each column

In [27]:
import pandas as pd

In [28]:
df = pd.read_excel("demo_data.xlsx")

In [29]:
df.shape

(80, 4)

In [30]:
df_cleaned = df.dropna() #drops the missing values(rows)

In [31]:
df_cleaned.shape

(77, 4)

In [32]:
df_cleaned.describe()

          Worker       Wage  Education        Age
count  77.000000  77.000000  77.000000  77.000000
mean   41.571429  25.136364  14.000000  49.038961
std    23.012256   7.396915   4.006574  17.247762
min     1.000000  10.030000   6.000000  18.000000
25%    23.000000  19.150000  12.000000  34.000000
50%    42.000000  25.070000  14.000000  51.000000
75%    61.000000  30.850000  17.000000  64.000000
max    80.000000  43.440000  22.000000  77.000000

In [33]:
df_cleaned.median()

Worker       42.00
Wage         25.07
Education    14.00
Age          51.00
dtype: float64

In [34]:
df_cleaned.sum()

Worker       3201.0
Wage         1935.5
Education    1078.0
Age          3776.0
dtype: float64

In [35]:
#5) find mean salary of people with age above 50

#6) find mean salary of people with age below 20

#7) find which education category has highest wage

#8) find education and age for highest and lowest wage

In [36]:
df_cleaned.Wage[df['Age']>50].mean()

26.29948717948718

In [37]:
df_cleaned.Wage[df['Age']<20].mean()

18.759999999999998

In [38]:
#7) find which education category has highest wage
dictonary_of_mean_wage={}

for k in df_cleaned.Education.value_counts().keys():
  dictonary_of_mean_wage[k]=df_cleaned.Wage[df['Education']==k].mean()

print(dictonary_of_mean_wage)
# get the key from dictonary which has highest value

{12: 22.64363636363636, 16: 29.03875, 8: 17.398571428571426, 15: 27.24857142857143, 18: 31.545714285714286, 10: 19.378333333333334, 17: 28.680000000000003, 14: 27.10833333333333, 20: 32.54, 13: 19.302500000000002, 9: 14.11, 21: 35.39666666666667, 6: 16.134999999999998, 22: 34.95}

In [39]:
#8) find education and age for highest and lowest wage
print(df_cleaned[df_cleaned['Wage']==df_cleaned.Wage.min()])
print("===================================================")
print(df_cleaned[df_cleaned['Wage']==df_cleaned.Wage.max()])

    Worker   Wage  Education   Age
56    57.0  10.03          9  22.0
===================================================
    Worker   Wage  Education   Age
31    32.0  43.44         20  43.0