In [ ]:
temp_str = "hello world"
print(temp_str[::2])

dir(temp_str)

hlowrd

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
print(temp_str.capitalize())

Hello world

In [ ]:
temp_str = 'Hello WorLD'
print (temp_str.casefold())

hello world

In [ ]:
#increases length of string by adding
temp_str = "hello WorLD"
print(temp_str.center(15,"*") )

**hello WorLD**

In [ ]:
#Returns how many times the substring appears in the given range by default picks full string
#Count function is case sensitive
temp_str = "Hello WorLD how is it going?hello all good".casefold()
print(temp_str.count("hello"))
print (temp_str)
print(temp_str.count("Hello"))

#how to give range
#count (value,start,end) start and end are optional otherwise it will  take the full string

print(temp_str[2:5])
print(temp_str.count(" hello ",2))

2
hello world how is it going?hello all good
0
llo
0

In [ ]:
#returns True and False on the basis of suffix passed.
temp_str ="HeLLo Workd how is it going? Hello all good!"
#endswith(value,start,end)
print(temp_str.endswith('Lo'))
print(temp_str.endswith('d!'))
print(temp_str.endswith("good",0,len(temp_str)-1))

False
True
True

In [ ]:
#returns lowest index of the substring if found else returns -1
#temp_str
print(temp_str.find("how"))
print(temp_str.find("howsfffgh"))

12
-1

In [ ]:
#used to change the given string
temp_str2="HeLLo my name is {fname}, I am a {position}!"
print(temp_str1.format(fname="Sabina",position="Student"))

temp_str1="Hello my name is {0}, I am a {1}"
print(temp_str1.format("Sabina","Student"))

HeLLo my name is Sabina, I am a Student!
Hello my name is Sabina, I am a Student

In [ ]:
#Functions
# 1. format map
# 2. expandtabs

In [ ]:
#Replica of find function but this returns erorr if nothing found
print(temp_str.index("how"))

ValueError: ignored

In [ ]:
#Returns True if only numbers and alphabets are present else returns false
temp_str="HeLLo world how is it going? Hello all good! how are you!"
temp_str="HelloWorld"
print(temp_str.isalnum())
print(temp_str1.isalnum())
print(temp_str[0:5].isalnum())

True
False
True

In [ ]:
#Returns true if only alphabets are present else returns false
temp_str="helloworld"
temp_str1="Hello world"
temp_str2="helloworld123"
print(temp_str.isalpha())

True

In [ ]:
# returns true only if numbers are between 0-9 else returns false
temp_str="hello world"
temp_str1="2245667875"
temp_str2=" 345678 "
unicode_0="\u0030"
print(temp_str.isdecimal())
print(temp_str1.isdecimal())
print(temp_str2.isdecimal())
print(unicode_0.isdecimal())

False
True
False
True

In [ ]:
temp_str="5567886432"
temp_str1="hello world"
unicode_0 ="\u0030"
print(temp_str.isdigit())
print(temp_str1.isdigit())
print(unicode_0.isdigit())

True
False
True

In [3]:
#returns true if only numbers between 0-9 else returns False
temp_str="\u00B2" #unicode for subscript of 2
print("km\u00B2")
print(temp_str.isdecimal()) #doesnot work for decimal
print(temp_str.isdigit())   #works for numbers only

km²
False
True

In [6]:
# Finds out if the string is an identifier or not (Returns True if the word is keyword in python else return False)
# This also works with variable declaration so if it starts with numbers its false
temp_str="Hello World"
print(temp_str.isidentifier())
temp_str2="1213hdgshgad"
print(temp_str2.isidentifier())
temp_str3="hdgshgad1562456"
print(temp_str3.isidentifier())

False
False
True

In [5]:
# Returns true if the string is lower else returns false
temp_str="Hello WORLD"
temp_str2="hello worldddd1773602"
print(temp_str.islower())
print(temp_str2.islower())

False
True

In [2]:
#Returns true only if white spaces else returns false
temp_str="Hello WORLD"
print(temp_str.isspace())
temp_str2=" "
print(temp_str2.isspace())

False
True

In [5]:
#Returns True  if first characters of each word is upper case and other are in lower case
temp_str="Hello WORLD"
print(temp_str.istitle())
temp_str2="Hello World"
print(temp_str2.istitle())
temp_str3="HELLO WORLD"
print(temp_str3.istitle())
temp_str4="Hello WorLD"
print(temp_str4.istitle())

False
True
False
False

In [8]:
#If all the alphabets available are in upper case it returns True
temp_str="Hello WOrld"
print(temp_str.isupper())
temp_str1="HELLO WORLDSJHD635657@#$%^"
print(temp_str1.isupper())
temp_str2="635657@#$%^234ABCDE"
print(temp_str2.isupper())

False
True
True

In [11]:
# Lists are Heterogenous
### Iterables are list, tuple ###
list_temp=["Hello","World","How","are","you"]
print("#".join(list_temp))

Hello#World#How#are#you

In [13]:
# Returns/Changes the string into lowercase
#Only works for English Characters
temp_str="Hello World"
print(temp_str.lower())
string_german="ß"
print(string_german.lower())
print(string_german.casefold())

hello world
ß
ss

In [15]:
# Removes the white spaces and tabs from left side of the string
temp_str="                 Hello WOrld         "
print(temp_str.lstrip())

Hello WOrld

In [17]:
# Returns the tuples with the word in the middle
temp_str="I could eat apples all day"
print(temp_str.partition("apples"))
print(temp_str.partition("apples132424")) #Returned empty spaces coz it couldn't find 'apples132424'

('I could eat ', 'apples', ' all day')
('I could eat apples all day', '', '')

In [22]:
# Replaces the word with the different world given word
temp_str="I could eat apples all day, that's all i can say"
print(temp_str.replace('all',' '))
print(temp_str.replace('all','every').replace('apples','Mangoes'))

I could eat apples   day, that's   i can say
I could eat Mangoes every day, that's every i can say

In [24]:
#Removes the white spaces on the right hand side
temp_str="                 Hello WOrld         "
print(temp_str.rstrip())

                 Hello WOrld

In [27]:
### Splits the string into left right according to the condition given otherwise splits by space by default ###
temp_str="I could eat apples all day, that's all i can say"
print(temp_str.split(","))
print(temp_str.split())

['I could eat apples all day', " that's all i can say"]
['I', 'could', 'eat', 'apples', 'all', 'day,', "that's", 'all', 'i', 'can', 'say']

In [32]:
temp_str="I could eat apples all day, that's all i can say"
print(temp_str.startswith("I"))
print(temp_str.startswith("could"))
print(temp_str.startswith("could",2))  #True because we pass value to start with (2)

True
False
True

In [31]:
# Removes white spaces on both sides of the string
temp_str="                 Hello WOrld         "
temp_str.strip()

'Hello WOrld'

In [34]:
#Swaps lower into upper and viceversa
temp_str="I could eat APPLES all day, that's all i can SAY"
temp_str.swapcase()

"i COULD EAT apples ALL DAY, THAT'S ALL I CAN say"

In [38]:
# ONLY First alphabet of the string is converted to capital letter
temp_str="I could eat apples all day, that's all i can say"
print(temp_str.title())
temp_str1="I could eat APPLES all DAY, that's all i cAN say"
print(temp_str1.title())

I Could Eat Apples All Day, That'S All I Can Say
I Could Eat Apples All Day, That'S All I Can Say

In [41]:
# Only remembers the most recent value if there's duplicate keys
temp_str={83:80,83:70}
print(temp_str)

{83: 70}

In [43]:
temp_str={"brand":"Ford","model":"Mustang","year":1999, "year":2023}
print(temp_str)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

In [45]:
temp_str={"brand":"Ford","model":"Mustang","year":1999, "year":2023}
print(temp_str["brand"])
print(temp_str["year"])

Ford
2023

In [46]:
thisdict=dict(name="john",age=34,country="England")
print(thisdict)

{'name': 'john', 'age': 34, 'country': 'England'}

In [49]:
#ASCII Code value of S is 83 defaultly we replace it with 80 here which is P
temp_dict={83:80}
temp_str="Hello Sam! SSSSSSSSHHHHHHHHHHHH"
print(temp_str.translate(temp_dict))

Hello Pam! PPPPPPPPHHHHHHHHHHHH

In [50]:
temp_str="I could eat apples all day, that's all i can say"
temp_str.upper()

"I COULD EAT APPLES ALL DAY, THAT'S ALL I CAN SAY"

In [51]:
# Fills Zeros if the string is less than the given string length
temp_str="I could eat apples all day, that's all i can say"
print(len(temp_str))
print(temp_str.zfill(10))
print(temp_str.zfill(50))

48
I could eat apples all day, that's all i can say
00I could eat apples all day, that's all i can say