In [ ]:
#1) Swap two numbers using 3rd variable

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("Original numbers = ",num1, num2)
temp = num1
num1 = num2
num2 = temp
print("After swapping =",num1, num2)

Enter the first number: 1
Enter the second number: 2
Original numbers =  1 2
After swapping = 2 1

In [ ]:
# 2) Swap two numbers without using 3rd variable

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("Original numbers: = ",num1, num2)
num1 = num1+num2
num2 = num1-num2
num1= num1-num2
print("After swapping =",num1, num2)

Enter the first number: 1
Enter the second number: 2
Original numbers: =  1 2
After swapping = 2 1

In [ ]:
# 3) Remove duplicate elements from a list without converting to tuple

lst1 = ['Python', 'R', 'C#', 'Python', 'R', 'Java', 'C++','C++']
new_list = []
for i in lst1:
    if i not in new_list:
        new_list.append(i)
print('The new list without duplicates is: ',new_list)

The new list without duplicates is:  ['Python', 'R', 'C#', 'Java', 'C++']

In [ ]:
# 4) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
a = num1
b = num2
while(b != 0):
    remainder = a % b
    a = b
    b = remainder

gcd = a

print("The GCD of", num1,"and", num2,"is", gcd)

In [ ]:
# 5) Write a loop to print following series
# 10, 20, 30,  …………………, 300

for i in range(10,301,10):
  print(i,end=', ')

10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300,

In [ ]:
# 6) Write a loop to print following series
# 105,98,91,………………………,7

for i in range(105,1,-7):
  print(i, end=', ')

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

In [ ]:
# 7) Write a program to print number names of digits in a number like
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

number = input("Enter a number: ")

number_names = {0: "ZERO",1: "ONE",2: "TWO",3: "THREE",4: "FOUR",5: "FIVE",6: "SIX",7: "SEVEN",8: "EIGHT",9: "NINE"}

output = ""
for digit in str(number):
  digit = int(digit)
  output += number_names[digit] + " "

print(output)

Enter a number: 567
FIVE SIX SEVEN

In [ ]:
# 8) Write a program to print Fibonacci series till n terms take n =50

n = 50
a = 0
b = 1
count = 0
print("Fibonacci series:")
while count < n:
    print(a, end=' ')
    c = a + b
    a = b
    b = c
    count += 1

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [ ]:
# 9) Write a program to print factorial of a number

num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print("Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [ ]:
# 10) Write a program to check if a number is Armstrong or not
# Armstrong num is the sum of the cubes of its digits is equal to the number itself

num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
# 11) Write a program to convert binary to decimal

binary = input("Enter a Binary number: ")
decimal = 0
for digit in str(binary):
    decimal = decimal*2 + int(digit)

print("The decimal value is", decimal)

Enter a Binary number: 1010
The decimal value is 10

In [ ]:
# 12) Write a program to convert decimal to binary

decimal = int(input("Enter a decimal number: "))

binary = ""
while decimal > 0:
    remainder = decimal % 2
    decimal = decimal // 2
    binary = str(remainder) + binary

print("The binary value is:", binary)

Enter a decimal number: 10
The binary value is: 1010

In [ ]:
# 13) Write a program to check if number is palindrome on not (Without converting to string)

num = int(input("Enter any number: "))
reversed_num = 0
temp = num
while temp > 0:
  remainder = temp % 10
  reversed_num = (reversed_num * 10) + remainder
  temp = temp // 10  #Removes the last digit from num by doing integer division

if num == reversed_num:
  print(num, "is a palindrome number")
else:
  print(num, "is not a palindrome number")

Enter any number: 123
123 is not a palindrome number

In [ ]:
# 14) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

print("The numbers divisible by 13 but not by 3 are: ")
for i in range(100,501):
  if (i % 13 == 0) and (i % 3 != 0):
    print(i,end=' ')

The numbers divisible by 13 but not by 3 are:
104 130 143 169 182 208 221 247 260 286 299 325 338 364 377 403 416 442 455 481 494

In [ ]:
# 15)Write a Python program to convert temperatures to and from Celsius and Fahrenheit.
# Celsius to Fahrenheit: F = C * 9/5 + 32
# Fahrenheit to Celsius: C = (F - 32) * 5/9

choice = input("Enter C to convert Celsius to Fahrenheit, F for Fahrenheit to Celsius: ").upper()

if choice == 'C':
  celsius = float(input("Enter temperature in Celsius: "))
  fahrenheit = celsius * (9/5) + 32
  print(celsius, "Celsius is", round(fahrenheit, 2), "Fahrenheit")

elif choice == 'F':
  fahrenheit = float(input("Enter temperature in Fahrenheit: "))
  celsius = (fahrenheit - 32) * (5/9)
  print(fahrenheit, "Fahrenheit is", round(celsius, 2), "Celsius")
else:
  print("Invalid input")

Enter C to convert Celsius to Fahrenheit, F for Fahrenheit to Celsius: f
Enter temperature in Fahrenheit: 20
20.0 Fahrenheit is -6.67 Celsius

In [ ]:
# 16) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

m = int(input("Enter number of rows: "))
n = int(input("Enter number of columns: "))
array = [[0 for j in range(n)] for i in range(m)]

for i in range(m):
    for j in range(n):
        array[i][j] = i*j

print(array)

Enter number of rows: 3
Enter number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
# 17) Write a Python program that accepts a string and calculates the number of digits and letters.
#Sample Data: Python 3.2
#Expected Output:
#Letters 6
#Digits 2

string = input("Enter any string: ")
letters = 0
digits = 0
for char in string:
    if char.isalpha():
        letters += 1
    elif char.isdigit():
        digits += 1

print("Letters:", letters)
print("Digits:", digits)

Enter any string: Python 3.2
Letters: 6
Digits: 2

In [ ]:
# 18) Print all possible combination for a string or a word
# Sample input “ABC”
# Sample output
# BAC
# CAB
# CBA
# ACB
# BCA

string = input("Enter any string or a word: ")
n = len(string)

for i in range(n):
    for j in range(n):
        if i != j:
            for k in range(n):
                if i != k and j != k:
                    print(string[j]+string[k]+string[i])

Enter any string or a word: ABC
BCA
CBA
ACB
CAB
ABC
BAC

In [3]:
6# 19) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side
# Note :
# An equilateral triangle is a triangle in which all three sides are equal.
# A scalene triangle is a triangle that has three unequal sides.
# An isosceles triangle is a triangle with (at least) two equal sides.

print("Enter 3 sides of the triangle:")

side1 = int(input("Side 1: "))
side2 = int(input("Side 2: "))
side3 = int(input("Side 3: "))

if side1 == side2 and side2 == side3:
  print("This is an equilateral triangle")

else:
  if side1 == side2 or side2 == side3 or side1 == side3:
    print("This is an isosceles triangle")

  else:
    print("This is a scalene triangle")

Enter 3 sides of the triangle:
Side 1: 4
Side 2: 4
Side 3: 6
This is an isosceles triangle

In [7]:
# 20) Write a Python program to get the next day of a given date.
# Expected Output:
# Input a year: 2016
# Input a month [1-12]: 08
# Input a day [1-31]: 23
# The next date is [yyyy-mm-dd] 2016-8-24

day = int(input("Enter day (1-31): "))
month = int(input("Enter month (1-12): "))
year = int(input("Enter year: "))

if month in {1, 3, 5, 7, 8, 10, 12}:
    max_days = 31
elif month == 2:
    if year % 4 == 0:
        max_days = 29
    else:
        max_days = 28
else:
    max_days = 30

if day < max_days:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1

print("Next date is: %d/%d/%d" % (year, month, day))

Enter day (1-31): 30
Enter month (1-12): 2
Enter year: 2023
Next date is: 2023/3/1