In [ ]:
set1 = {1, 2, 3, 4, 4, 5}
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
#add function Adds elements to the set
set1 = {1, 2, 3, 4, 4, 5}
print("Before add: ",set1)
set1.add('a')
print('After add',set1)

Before add:  {1, 2, 3, 4, 5}
After add {1, 2, 3, 4, 5, 'a'}

In [ ]:
#clear function removes all elements of the set
set1 = {'a','b','c','D','E','F',1,2,3,4,5}
print("Before clear: ",set1)
set1.clear()
print('After clear',set1)

Before clear:  {1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'F', 'D'}
After clear set()

In [ ]:
#Copy function creates a copy of the original set.
set1 = {'a','b','c','D','E','F',1,2,3,4,5}
set2 = set1.copy()
print("Original Set:", set1)
print("Copied Set:", set2)

Original Set: {1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'F', 'D'}
Copied Set: {1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'F', 'D'}

In [ ]:
#Difference between sets
set1 = {'a','b','c','D','E','F',1,2,3,4,5}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9}
difference_result = set1.difference(set2)
print(difference_result)

{1, 2, 3, 'c', 'E', 'F', 'D'}

In [ ]:
# Remove elements from one set that are present in another set
set1 = {'a','b','c','D','E','F',1,2,3,4,5}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9}
set1.difference_update(set2)
print(set1)
print(set2)
print("Result after using difference_update:",set1)

{1, 2, 3, 'c', 'E', 'F', 'D'}
{4, 5, 6, 7, 'f', 8, 9, 'A', 'a', 'b', 'e', 'B'}
Result after using difference_update: {1, 2, 3, 'c', 'E', 'F', 'D'}

In [ ]:
#Discard function removes the element passed from the set
set1 = {'a','b','c','D','E','F',1,2,3,4,5}

print("Before discard function: ",set1)
set1.discard('F')
print('After discard function',set1)
set1.discard(100)         #Does not change the set as 100 was not present in the set
print(set1)

Before discard function:  {1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'F', 'D'}
After discard function {1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'D'}
{1, 2, 3, 4, 5, 'a', 'c', 'b', 'E', 'D'}

In [ ]:
#Intersection function returns the common elements of the sets

set1 = {'a','b','c','D','E','F',1,2,3,4,5}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9}
result = set1.intersection(set2)
print("The result of intersection of two sets:",result)

The result of intersection of two sets: {'b', 4, 5, 'a'}

In [41]:
#intersection_update

set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}
set1.intersection_update(set2)
print("The result of intersection_update function of two sets:",set1)

The result of intersection_update function of two sets: {33, 4, 5, 44, 'a', 'b', 55}

In [40]:
#isdisjoint
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}
set1.isdisjoint(set2)
print(set1)

{1, 2, 3, 4, 5, 33, 'F', 44, 'a', 'c', 'b', 'E', 55, 'D'}

In [39]:
#issubset
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}
set1.issubset(set2)
print(set1)

{1, 2, 3, 4, 5, 33, 'F', 44, 'a', 'c', 'b', 'E', 55, 'D'}

In [38]:
#issuperset
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}
set1.issuperset(set2)
print(set1)

{1, 2, 3, 4, 5, 33, 'F', 44, 'a', 'c', 'b', 'E', 55, 'D'}

In [30]:
# pop function removes an arbitrary element from the set and returns it.
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
print("Removed Element:",set1.pop())
print("Updated Set:",set1)

Removed Element: 1
Updated Set: {2, 3, 4, 5, 33, 'F', 44, 'a', 'c', 'b', 'E', 55, 'D'}

In [31]:
#remove function deletes an element from a set
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set1.remove(33)
print(set1)

{1, 2, 3, 4, 5, 'F', 44, 'a', 'c', 'b', 'E', 55, 'D'}

In [33]:
#symmetric_difference
set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}
result = set1.symmetric_difference(set2)
print("After symmetric difference:",result)

After symmetric difference: {1, 2, 3, 6, 7, 'f', 8, 9, 'A', 'c', 'E', 'F', 'B', 'D', 'e'}

In [34]:
#Union

set1 = {'a','b','c','D','E','F',1,2,3,4,5,33,44,55}
set2 = {'a','b','e','f','A','B',4,5,6,7,8,9,33,44,55}

print("The union of two sets:",set1.union(set2))

The union of two sets: {1, 2, 3, 4, 5, 6, 7, 'f', 8, 9, 'A', 'c', 'E', 'F', 'B', 'D', 33, 44, 'a', 'b', 55, 'e'}

In [37]:
#update

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9,33,44,55}
set1.update(set2)
print("Using update function:",set1)

Using update function: {1, 2, 3, 4, 5, 33, 6, 7, 8, 9, 44, 55}